<!-- <form-component></form-component> -->

<!-- <div style="display: flex;flex-direction: row;border: 3px;background-color: rgb(236, 230, 230);">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/addUser">AddUser</a></li>
</div>
<br>
    <form-component></form-component> -->

  <!-- <h2>Users</h2>
  <table (userCreated)="onUserCreated($event)">
    <tr>
      <th>Sl. No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Country</th>
      <th>Checked</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users;let i=index">
      <td>{{i+1}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.country}}</td>
      <td>{{user.checked}}</td>
      <td><a routerLink="/addUser">View User</a></td>
      <td><a routerLink="/addUser">Delete User</a></td>
    </tr>

  </table> -->
  <!-- <form-component *ngIf="showForm;else hello" (userCreated)="onUserCreated($event)"></form-component>
  <ng-template #hello>
    <h1>hello</h1>
  </ng-template> -->

<!-- <div form-component></div>  -->
<!-- <button (click)="Changename()">ChangeNameInApp</button> -->

<app-ebr-list *ngIf="showList" (editEvent)="storeDate($event)"></app-ebr-list>
<app-ebr-edit *ngIf="showEdit" [Name]="Name" (rbsEvent)="rbsShow($event)" (CanceledChange)="CancelChange()"></app-ebr-edit>
<app-rbs *ngIf="showRbs" [Name]="updatedName" (BackEvent)="BackButtonClicked()"></app-rbs>
